dist: xenial
language: rust
cache: cargo
matrix:
  include:
  - rust: stable
    before_script:
    - rustup component add rustfmt
    script:
    - cargo fmt --all -- --check
    - cargo test --all
    after_success:
    - |-
      [ "$TRAVIS_TAG" = v$(cargo run -- --version | awk '{print $2}') ] &&
      cd cosmogony &&
      cargo publish --token ${CRATESIO_TOKEN}
env:
  global:
  - secure: orjKfX6b1h3FVB9VzerBUlRdFlLCf5vMb+1JtrKVHAN0tZkeYSEnWcW8NuCy5vxtgLSfSo0J7f6J6ooqnOoCVHEghR5z2DwN+TrI3sprTPsnbTkG04mtZ09VMpqk2NmIcnd17FD4KM0svpv8m0qj1s8fXfST1g2Xuz2bNHWwXjCInFs+qqJeS94dEui0qdkzG3dQ5rlrmMdodw4/sHkiPIkQsAswOxLuTAY+OGdGfovM7EMY/Zpp/kOjLoclNAez5vTsvU9icp992UgYkX4iKUP3IL/Aj5Ra+1Ju9h8KaVVpjISxBvq8ulZK0sn0jTaf1aDoeddw35nXIkqADGXaxB1K8AqoGQVMniZvgP2vDFcypsyHJA1l6gRQr00pGBUEVG2yfc/Vo6QvN9+GtZUSWrUTOcw0dU1IRZPZRquo+bVWZJ6bf8Ng6wnEyQHGAXcwJjOO5ojiPrVoezsLZgAEUpcKHJ7F9y4axQIlit/9a0+eMhiEyI+KpYylJzjEpkNyv/CP/cnYSjJPw7lPKT1an1VYh9HIpD+UQbeeW8dpMN4QUXrCaZnhEdXPxRrz2N5t4B1c9kiIina6COPQa0QM+aIopFOuo4VdLkjWySATYEQ8f+FXNp59EFnDE2sR+eBTCVxEnHxxZjvA/f/UDrgralhU2HMtUoQkClsfnVdnMog=
