[package]
name = "cosmogony_builder"
version = "0.7.3"
authors = ["Adrien Matissart <a.matissart@qwantresearch.com>", "Antoine Desbordes <antoine.desbordes@gmail.com>"]
license = "Apache-2.0"
repository = "https://github.com/osm-without-borders/cosmogony"
edition = "2018"

[dependencies]
cosmogony = { path = "cosmogony" }
log = "0.4"
env_logger = "0.6"
geo = "0.14"
geo-types = { version = "0.6", features = ["rstar"] }
geojson = { version = "0.19", features = ["geo-types"] }
geos = { version = "5.0", features= ["geo"] }
structopt = "0.2"
structopt-derive = "0.1"
osmpbfreader = "0.13"
lazy_static = "1"
serde = {version = "1", features = ["rc"]}
serde_derive = "1"
serde_json = "1"
serde_yaml = "0.8"
itertools = "0.8"
failure = "0.1"
failure_derive = "0.1"
osm_boundaries_utils = "0.4"
regex = "1"
flate2 = "1.0"
rayon = "1.0"
include_dir = "0.2"
rstar = "0.2"

[dev-dependencies]
approx = "0.3"
